<section class="flex-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tbl">

    <!-- Pessoa Column -->
    <ng-container matColumnDef="pessoa">
      <th mat-header-cell *matHeaderCellDef
      mat-sort-header> Pessoa </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.pessoa}} </td>
    </ng-container>

    <!-- Descrição Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.descricao}} </td>
    </ng-container>

    <!-- Vencimento Column -->
    <ng-container matColumnDef="dataVencimento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vencimento </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.dataVencimento | date: "dd/MM/y"}} </td>
    </ng-container>

    <!-- Pagamento Column -->
    <ng-container matColumnDef="dataPagamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </th>
      <td mat-cell *matCellDef="let lancamento"> {{lancamento.dataPagamento | date: "dd/MM/y"}} </td>
    </ng-container>

    <!-- Valor Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
      <td mat-cell *matCellDef="let lancamento"> <span [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}"> {{lancamento.valor | currency: 'BRL'}} </span> </td>
    </ng-container>

    <!-- Valor Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let lancamento">
        <button mat-icon-button matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="excluir(lancamento.codigo)" mat-icon-button matTooltip="Excluir">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    *ngIf="responsePageable"
    (page)="handlePageEvent($event)"
    [pageSizeOptions]="[5, 10]"
    [pageSize]="responsePageable.size"
    [length]="responsePageable.totalElements"
    [pageIndex]="responsePageable.number"
    showFirstLastButtons
    aria-label="Selecione a página">
  </mat-paginator>

  <div class="btn">
    <button mat-raised-button color="primary" routerLink="/lancamento/novo" >Novo Lançamento</button>
  </div>

</section>
