<section class="flex-container">
  <h2>{{lancamento.codigo ? 'Editando' : 'Novo' }} Lançamento</h2>

  <form class="form" #lanCadastroForm="ngForm">

    <div class="tipos-lancamento" >
      <mat-button-toggle-group  [(ngModel)]="lancamento.tipo" name="tipoLancamento" #tipoLancamento="ngModel" required>
        <mat-button-toggle *ngFor="let tipo of tipos" [value]="tipo.value" >
          {{ tipo.label }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-error *ngIf="tipoLancamento.invalid && (lanCadastroForm.dirty || lanCadastroForm.touched)" >
        <span *ngIf="tipoLancamento.errors?.['required']" >
          Este é um campo obrigatório.
        </span>
      </mat-error>
    </div>


    <div class="flex-filds-container">
      <mat-form-field appearance="outline" class="cinquenta-per-width">
        <mat-label>Vencimento</mat-label>
        <input name="dataVencimento" [(ngModel)]="lancamento.dataVencimento" #vencimento="ngModel" matInput placeholder="dd/MM/yyyy" [matDatepicker]="picker" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="vencimento.invalid && (vencimento.dirty || vencimento.touched)">
          <span *ngIf="vencimento.errors?.['required']">
            Este campo é obrigatório.
          </span>
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="cinquenta-per-width">
        <mat-label>Pagamento</mat-label>
        <input name="dataPagamento" [(ngModel)]="lancamento.dataPagamento" matInput placeholder="dd/MM/yyyy" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="flex-filds-container">
      <mat-form-field appearance="outline" class="set-cinco-per-width">
        <mat-label>Descrição</mat-label>
        <input [(ngModel)]="lancamento.descricao" name="descricao" #descricao="ngModel" matInput placeholder="Informe a descrição" required minlength="5">

        <mat-error *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
          <span *ngIf="descricao.errors?.['required']">
            Este campo é obrigatório.
          </span>
          <span *ngIf="descricao.errors?.['minlength']">
            A descrição deve ter no mínimo 5 caracteres.
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="vinte-cinco-per-width">
        <mat-label>Valor</mat-label>
        <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" name="valor" [(ngModel)]="lancamento.valor" #valor="ngModel" matInput placeholder="Informe o valor" required>

        <mat-error *ngIf="valor.invalid && (valor.dirty || valor.touched)">
          <span *ngIf="valor.errors?.['required']">
            Este campo é obrigatório.
          </span>
        </mat-error>


      </mat-form-field>
    </div>

    <div class="flex-filds-container">
      <mat-form-field appearance="outline" class="vinte-cinco-per-width">
        <mat-label>Categoria</mat-label>
        <mat-select name="categoria" [(ngModel)]="lancamento.categoria.codigo" #categoria="ngModel" required>
          <mat-option *ngFor="let c of categorias" [value]="c.codigo">
            {{ c.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
          <span *ngIf="categoria.errors?.['required']">
            Este campo é obrigatório.
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="set-cinco-per-width">
        <mat-label>Pessoa</mat-label>
        <mat-select name="pessoa" [(ngModel)]="lancamento.pessoa.codigo" #pessoa="ngModel" required>
          <mat-option *ngFor="let p of pessoas" [value]="p.codigo">
            {{ p.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pessoa.invalid && (pessoa.dirty || pessoa.touched)">
          <span *ngIf="pessoa.errors?.['required']">
            Este campo é obrigatório.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="cem-per-width">
      <mat-label>Observação</mat-label>
      <textarea [(ngModel)]="lancamento.observacao" matInput name="observacoes"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="5">
</textarea>

    </mat-form-field>

    <div class="btn">
      <button [disabled]="lanCadastroForm.invalid" mat-raised-button color="primary" (click)="salvar(lanCadastroForm)">Salvar</button>
      <button mat-raised-button >Novo</button>
      <button mat-raised-button routerLink="">Voltar</button>
    </div>

  </form>
</section>
