<section class="flex-container">
  <h2>Nova Pessoa</h2>

  <form class="form">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome completo">
    </mat-form-field>

    <div class="flex-filds-container">
      <mat-form-field appearance="outline" class="set-cinco-per-width">
        <mat-label>Logradouro</mat-label>
        <input matInput placeholder="Informe o logradouro">
      </mat-form-field>

      <mat-form-field appearance="outline" class="vinte-cinco-per-width">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Informe o número">
      </mat-form-field>
    </div>

    <div class="flex-filds-container">
      <mat-form-field appearance="outline" class="trinta-tres-per-width">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Informe o complemento">
      </mat-form-field>

      <mat-form-field appearance="outline" class="trinta-tres-per-width">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="Informe o bairro">
      </mat-form-field>

      <mat-form-field appearance="outline" class="trinta-tres-per-width">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Informe o cep">
      </mat-form-field>
    </div>

    <div class="flex-filds-container">
      <mat-form-field appearance="outline" class="cinquenta-per-width">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Informe a cidade">
      </mat-form-field>

      <mat-form-field appearance="outline" class="cinquenta-per-width">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Informe o estado">
      </mat-form-field>
    </div>


    <div class="btn">
      <button mat-raised-button color="primary">Salvar</button>
      <button mat-raised-button >Novo</button>
      <button mat-raised-button >Voltar</button>
    </div>

  </form>
</section>
